<div class="container">
  <ion-card>
    <div class="logo-container">
      <ion-img class="logo" src="assets/logo.png"></ion-img>       
    </div>

    <ion-list [inset]="true">
      <ion-item>
        <ion-input [formControl]="name" label="Name" label-placement="floating" fill="" placeholder="Enter Your Name" >
          <ion-icon slot="start" name="person" aria-hidden="true"></ion-icon>
        </ion-input> 
      </ion-item>
      <div [class.visible]="name.invalid && name.touched" class="error" >
        your name is required
      </div>
      

    
      <ion-item>
        <ion-input [formControl]="phone"  label="Phone Number" label-placement="floating" fill="" placeholder="Enter Phone number">
          <ion-icon slot="start" name="call" aria-hidden="true"></ion-icon>
        </ion-input>
      </ion-item>
      <div [class.visible]="phone.invalid && phone.touched"  class="error" >
        Please input a valid Phone number
      </div>
      
    
      <ion-item>
        <ion-input [formControl]="email" label="Email" label-placement="floating" fill="" placeholder="Enter mail">
          <ion-icon slot="start" name="mail" aria-hidden="true"></ion-icon>
        </ion-input>

      </ion-item>
      <div [class.visible]="email.invalid && email.touched"  class="error" >
        Please input a valid email address
      </div>
    
      <ion-item>
        <ion-input [formControl]="password" labelPlacement="stacked" label="Password" fill="" type="Password" placeholder="Enter Password">
          <ion-icon slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>
      <div [class.visible]="password.invalid && password.touched"  class="error" >
        Password must be at least 6 characters<br> 
        with letters, numbers & a special character.
      </div>

      <ion-item>
        <!-- Empty ion item -->
      </ion-item>

    </ion-list>

    

    <div class="button-container">
      <ion-button  color="danger" routerLink="/welcome">Cancel</ion-button>
      <ion-button color="tertiary"  [class.disabled]="name.invalid || email.invalid || password.invalid || phone.invalid " (click)="onSubmit()">Submit</ion-button>
    </div>  
  
    
  </ion-card>
</div>








