

.button-container {
  display: flex;
  width:100%;
  justify-content:space-between;
}

.action-buttons{
  --padding-bottom:0px;
  --padding-start:20px;
  --padding-end:20px;
  --padding-top:0px;
  border-radius: 50px;
  font-size: 13px;
  font-weight: bold;
  --background:#6d74f3;
}

ion-item {
  --padding-start: 0;
}

.detail-container {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: top;
  width: 100%;

  .icon{
    width:40px;
  }

  .desc{
    display: inline-block;

    .name{
      p{
        font-weight:bold;
      }
    }
    

      
      }

      .amount{
        p{
          font-weight:bold;
        }
      }
  }

